.Header {
    box-shadow: 0 1px 0 0 #d3d9de,0 0 0 1px #e7e8ec;
}

.header_wrap {
    width: 960px;
    height: 48px;
    margin: 0 auto;
    display: flex;
}

.logo {
    width: 163px;
    height: 48px;
    display: flex;
    justify-content: center;
}

.logo div {
    margin-top: 12px;
}

.search_wrap {
    width: 552px;
    height: 48px;
    display: flex;
    align-items: center;
}
.search_wrap img {
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: rgb(237, 238, 240);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search_wrap input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    background-color: rgb(237, 238, 240);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

.notifications {
    margin-left: 20px;
}

.avatar {
    width: 230px;
    height: 48px;
    margin-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar .name {
    font-weight: bold;
    margin-right: 10px;
}

.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}