.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  /* вертикальное центрирование  */
  align-items: center; 
  height: 56px;
  background-color: aquamarine;
  padding: 0 16px;
}

.wrapper {
  display: flex;
}

.Nav {
  background-color: darkgoldenrod;
  min-height: 300px;
  width: 20%;
}

.Main {
  background-color: deepskyblue;
  width: 80%;
}

.item {
    color: crimson;
}