.App {
    background-color: rgb(237, 238, 240);
}

.Header {
    /*прилипшее верхнее меню НЕ скролится*/
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}

.wrapper {
    /* обертка для элементов Nav, Main, SubMain */
    display: flex;
    margin: 0 auto;
    width: 960px;
}

.Nav {
    height: 100vh;
    width: 163px;
    padding-top: 63px;
    background-color: rgb(237, 238, 240);
}

.Main {
    width: 552px;
    margin-right: 15px;
    padding-top: 63px;
}

.SubMain {
    width: 230px;
    padding-top: 63px;
}

.item {
    color: crimson;
}